html {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-wrap {
    width: 500px;
    text-align: center;

    position: relative;
}

#logo-image-box {
    position: absolute;
    top: -100px;
    left: 40px;
}

#main-logo-img {
    width: 500px;
}

.btn10 {
    padding: 15px 80px;
    margin: 10px 4px;
    color: #000;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.btn10 {
    top: 40px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase !important;
    letter-spacing: 2px;
    color: #977FD7;
    cursor: hand;
    text-align: center;
    border: 1px solid #977FD7;
    border-radius: 25px;
    position: relative;
    overflow: hidden !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent !important;
    z-index: 10;
}

/*.btn > span {*/
/*    color: #7A7A7A;*/
/*}*/

.btn10:hover {
    border: 1px solid #977FD7;
    color: #A9E9F5 !important;
}

.btn10::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #977FD7;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.btn10::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #A9E9F5;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.btn10:hover::before, .btn1O:hover::before {
    opacity: 1;
    width: 116%;
}

.btn10:hover::after, .btn1O:hover::after {
    opacity: 1;
    width: 120%;
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.wrap.show {
    display: block;
}


#modal {
    position: absolute;
    top: 50%;
    left: 50%;


    width: 400px;
    height: 550px;

    text-align: center;

    border: none;
    border-radius: 20px;

    background-color: #fff;

    transform: translateX(-50%) translateY(-50%);
    z-index: 100;
}


#li-logo {
    margin: 35px 0 20px 30px;
    width: 350px;
}

#li-text {
    margin: 10px auto;

    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    color: #7A7A7A;
}

#su-text {
    margin: 80px 0 20px 0;

    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    color: #7A7A7A;
}


#login-box {
    margin: auto;

    width: 300px;

    /*border: 1px solid black;*/
}

#li-input-box {
    margin-bottom: 10px;
    height: 40px;
    display: flex;
}

.alert {
    font-size: 0.8em;
    text-align: left;

    line-height: 0;
}

.hrdiv {
    margin: 25px;
    width: 350px;

    border: none;
    border-top: 1px solid #7A7A7A;
}

.signup-box {
    margin: auto;
    width: 300px;

    text-align: center;

    position: relative;
}

.non-user {
    font-size: 1em;
    font-weight: 800;
    color: #7A7A7A;
}

.md-input {
    width: 300px;
    height: 40px;

    text-indent: 10px;

    border: 1px solid #7A7A7A;
    border-radius: 2px;
}

#su-id-input {
    margin-top: 10px;
    width: 220px;

    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#su-un-input {
    margin-bottom: 50px;
}

.md-btn {
    margin-top: 10px;

    width: 300px;
    height: 40px;

    border: none;
    border-radius: 2px;

    background-color: #688BDF;

    color: white;
}

.checkdup-btn {
    width: 80px;

    background-color: #688BDF;
    color: white;

    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#div-sign-in-or-up {
    width: 400px;
    text-align: center;
}

.signup-btn-2 {
    width: 145px;

    position: absolute;
    left: 0;
}

.cancle-btn {
    width: 145px;

    background-color: #7A7A7A;

    position: absolute;
    right: 0;
}

.is-danger {
    color: red;
}

.is-safe {
    color: #688BDF;
}

.is-success {
    color: #688BDF;
}

.is-hidden {
    display: none;
}