
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;

    min-width: 800px;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    height: 60px;
    /*border: 1px solid black;*/

    position: relative;
}

.nav-btn-box {
    width: 100px;

    position: absolute;
    right: 10px;
}

#btn-modal {
    width: 200px;
    height: 50px;
    color: #000;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#btn-modal {

    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase !important;
    letter-spacing: 2px;
    color: #977FD7;
    cursor: hand;
    text-align: center;
    border: 1px solid #977FD7;
    border-radius: 3px;
    position: relative;
    overflow: hidden !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #ffffff !important;
    z-index: 10;
}

#btn-modal:hover {
    border: 1px solid #977FD7;
    color: #A9E9F5 !important;
}

#btn-modal::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #977FD7;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

#btn-modal::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #A9E9F5;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

#btn-modal:hover::before {
    opacity: 1;
    width: 116%;
}

#btn-modal:hover::after {
    opacity: 1;
    width: 120%;
}


/*로그아웃버튼*/

#logout-btn {
    width: 100px;
    height: 50px;
    color: #000;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#logout-btn {

    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    text-transform: uppercase !important;
    letter-spacing: 2px;
    color: #977FD7;
    cursor: hand;
    text-align: center;
    border: 1px solid #977FD7;
    border-radius: 3px;
    position: relative;
    overflow: hidden !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #ffffff !important;
    z-index: 10;
}

#logout-btn:hover {
    border: 1px solid #977FD7;
    color: #A9E9F5 !important;
}

#logout-btn::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #977FD7;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

#logout-btn::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #A9E9F5;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

#logout-btn:hover::before {
    opacity: 1;
    width: 116%;
}

#logout-btn:hover::after {
    opacity: 1;
    width: 120%;
}






/*.bg-box {*/
/*    position: absolute;*/
/*    top: 0;*/

/*    width: 100%;*/
/*    height: 500px;*/

/*    opacity: 50%;*/

/*    background-image: linear-gradient(0deg, rgba(255, 255, 255, 100), rgba(0, 0, 0, 0)), url('../sky.jpeg');*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/

/*    z-index: -100;*/

/*    text-align: center;*/
/*}*/


.body-logo-box {
    z-index: 300;!important;
}

.btn-box {
    display: flex;
}

.body-btn {
    position: absolute;
    left: 0vw;
}

.card-wrap {
    margin: 200px auto;
    padding-top: 100px;

    width: 90vw;
    max-width: 1600px;

    border: 1px solid black;
}

#card {
    margin: auto;
    max-width: 380px;
    min-height: 380px;
}


/*-----------------------------------*/
#modal-upload.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal-upload .modal-window {
    background: white;
    box-shadow: 0 8px 32px 0 gray;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 500px;
    position: fixed;
    top: -100px;
    padding: 10px;
    margin-top: 176px;
}

#modal-upload .title01 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2em;
    display: inline;
}

#modal-upload {
    margin-top: 20px;
    padding: 0px 10px;
    color: black;
}

.inputurl {
    display: flex;
    position: center;
    margin: auto auto 14px;
    width: 350px;
    height: 25px;
}

.setimg {
    display: flex;
    margin: auto auto auto;
    width: 350px;
    height: 300px;
}

.title02 {
    font-family: 'Noto Sans KR', sans-serif;
    display: inline;
    margin-left: 17px;
    font-size: 1em;
}

.uploadbtn {
    display: block;
    width: 200px;
    padding: 1px 6px 1px 6px;
    margin: 20px auto auto;
    background-color: #688BDF;
    color: white;
    border: none;
}

#upload_file {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    margin: auto 14px auto;
}
