
#modal-upload.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal-upload .modal-window {
    background: white;
    box-shadow: 0 8px 32px 0 gray;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 650px;
    position: fixed;
    top: -100px;
    padding: 10px;
    margin-top: 200px;
    z-index: 10000;
}

#modal-upload .title01 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2em;
    display: inline;
}

#modal-upload {
    margin-top: 20px;
    padding: 0px 10px;
    color: black;
}

.inputurl {
    display: flex;
    position: center;
    margin: auto auto 14px;
    width: 350px;
    height: 25px;
}

#comment {
    display: flex;
    position: center;
    margin: auto auto 14px;
    width: 350px;
    height: 100px;
}

.setimg {
    display: flex;
    margin: auto auto auto;
    width: 350px;
    height: 300px;
}

.title02 {
    font-family: 'Noto Sans KR', sans-serif;
    display: inline;
    margin-left: 17px;
    font-size: 1em;
}

.uploadbtn {
    display: block;
    width: 200px;
    padding: 1px 6px 1px 6px;
    margin: 20px auto auto;
    background-color: #688BDF;
    color: white;
    border: none;
}

#upload_file {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    margin: auto 14px auto;
}

/*--------------------------------------*/

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}


#bg-box {
    padding-top: 80px;
    width: 100%;
    height: 500px;

    text-align: center;

    background-image: linear-gradient(0deg, rgba(255, 255, 255, 100), rgba(0, 0, 0, 0)), url("/static/sky.jpeg");
}

#main-logo {
    margin: auto;
}


.btn-box {
    padding-right: 100px;
}

/*----------------------------------*/

#btn-logout, #btn-modal {
    width: 200px;
    height: 50px;
    color: #000;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

#btn-logout, #btn-modal {
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase !important;
    letter-spacing: 2px;
    color: #977FD7;
    cursor: hand;
    text-align: center;
    border: 2px solid #977FD7;
    border-radius: 25px;
    position: relative;
    overflow: hidden !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent !important;
    z-index: 10;
}

#btn-logout:hover, #btn-modal:hover {
    border: 2px solid #977FD7;
    color: #A9E9F5 !important;
}

#btn-logout::before, #btn-modal::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #977FD7;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

#btn-logout::after, #btn-modal::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #A9E9F5;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

#btn-logout:hover::before, #btn-modal:hover::before {
    opacity: 1;
    width: 116%;
}

#btn-logout:hover::after, #btn-modal:hover::after {
    opacity: 1;
    width: 120%;
}

#btn-logout {
    width: 150px;
!important;
}

/*----------------------------------*/


.post-wrap {
    margin: auto;
    margin-bottom: 100px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 100px;

    width: 1600px;
    text-align: center;
}

.post-box {
    width: 330px;
    border: 2px dotted #977FD7;
    border-radius: 10px;
}

.post-header {
    display: flex;

    padding: 5px 0 0 10px;

    width: 320px;
    height: 40px;

    font-size: 1.2em;
    font-weight: 500;
    color: #000;

}

.post-body {
    width: 320px;
    height: 320px;

    overflow: hidden;
    margin: 0 auto;

}

.post-image {
    width: 100%;
    height: 100%;

    object-fit: cover;

}

.post-footer {
    display: flex;
    padding: 10px;

    width: 320px;

    position: relative;

    word-break: break-all;
}


.level-item {
    color: black;
}

.is-sparta {
    color: #977FD7 !important;
    margin-left: 10px;
}

.ytb-player {
    z-index: 1500;

    border-radius: 30px;
}

.post-content {
    padding-left: 10px;
    font-size: 0.9em;
    text-align: justify;
}