<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



</html>
    <title>Feeling</title>







    <script>
    function toggle_like(post_id, type) {
    console.log(post_id, type)
    let $a_like = $(`#${post_id} a[aria-label='heart']`)
    let $i_like = $a_like.find("i")
    if ($i_like.hasClass("fa-heart")) {
        $.ajax({
            type: "POST",
            url: "/update_like",
            data: {
                post_id_give: post_id,
                type_give: type,
                action_give: "unlike"
            },
            success: function (response) {
                console.log("unlike")
                $i_like.addClass("fa-heart-o").removeClass("fa-heart")
                $a_like.find("span.like-num").text(response["count"])
            }
        })
    } else {
        $.ajax({
            type: "POST",
            url: "/update_like",
            data: {
                post_id_give: post_id,
                type_give: type,
                action_give: "like"
            },
            success: function (response) {
                console.log("like")
                $i_like.addClass("fa-heart").removeClass("fa-heart-o")
                $a_like.find("span.like-num").text(response["count"])
            }
        })

    }
}







        $(document).ready(function () {
            listing();
        });

        function listing()
        {
            $.ajax({
                type: "GET",
                url: "/upload",
                data: {},
                success: function (response) {
                    let rows = response["posts"];
                    for (let i = 0; i < rows.length; i++) {
                        let userid = rows[i]["userid"];

                        let profile_name = rows[i]["profile_name"];
                        let ytburl = rows[i]["ytburl"];
                        let file = rows[i]["file"];
                        let temp_html = `
                                            <div className="col">
                                            <div className="card h-100">

                                                <img src="static/img/${file}"
                                                     class="card-img-top" alt="...">
                                                    <div class="card-footer">

                                                        <a href="${ytburl}">
                                                            <small class="text-muted">${ytburl}</small>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
`;



                        $("#card-box").append(temp_html);
                    }
                },
            });
        }

        function posting()
        {
            let ytbrul = $('#ytburl').val()
            let file = $('#upload_file')[0].files[0]
            let form_data = new FormData()
            form_data.append("file_give", file)
            form_data.append("ytburl_give", ytbrul)
            $.ajax({
                type: "POST",
                url: "/upload",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response['result'] == 'success') {
                        window.location.reload()
                        alert(response['msg'])
                    } else {
                        alert(response['msg'])
                    }
                }
            });
        }


        function logout()
        {
            $.removeCookie('mytoken', {path: '/'});
            window.location.href = '/';
        }




    </script>
</head>
<body>

<nav class="nav1">
    <div class="container-fluid">
        <a href="http://211.111.21.123:5000/" onclick="window.location.reload()">
            <img src="../static/logo.png" width="110"/>
        </a>
    </div>
</nav>
<div class="main">
    <h1 class="onul" style="font-family: 'Single Day', cursive;">기분을 음악으로</h1>
    <h1 class="fel" style="font-size: 100px;">Feeling</h1>
</div>
<div class="gi">
    <h1 class="today">오늘의 기분은?(멘트 추천 받아요 ㅠㅠ)</h1>
    <h1 class="people" style="font-size: 50px;">사람들의 기분들(좋은 멘트 추천해주세요 ㅠㅠ)</h1>
</div>
<hr style="width: 85%; margin-left: 110px; margin-top: 50px;" class="sun">
<div>
    <button id="btn-modal" type="button" class="btn btn-info"
            style="margin-left: 1260px; margin-top:10px; border-radius: 20px; color: white;">POST!!
    </button>
</div>
<input type="checkbox" id="menuicon">
<ul>
    <li>
        <label for="menuicon">
            <span></span><span></span><span></span>
        </label>
    </li>
</ul>
<div class="sidebar">
    <button id="logout-btn" class="menu_btn" onclick="logout()">로그아웃</button>
</div>
<div class="warp">
    <div id="card-box" class="row row-cols-1 row-cols-md-4 g-4">


    </div>

</div>

</div>

<div id="modal-upload" class="modal-overlay">
    <div class="modal-window">
        <div>
            <h2 class="title01">글작성</h2>
        </div>
        <div class="upload">
            <div class="imput">
                <p class="title02">YOUTUBE URL</p><input class="inputurl" type="text" id="ytburl">
                <img class="setimg"
                     src="/static/img/noimg.jpg"
                     id="img_section">
                <br>
                <input type="file" id="upload_file" accept="image/*" required=true value="업로드">
                <button onclick="posting()" class=uploadbtn id="upbtn">올리기</button>
            </div>
        </div>
    </div>
</div>





<script>

    const modal1 = document.getElementById("modal-upload")
    const btnModal = document.getElementById("btn-modal")
    btnModal.addEventListener("click", () => {
        modal1.style.display = "flex"
        //btn-modal의 버튼을 클릭시 display값을 flex로 변환
    })
    modal1.addEventListener("click", e => {
        const evTarget = e.target
        if (evTarget.classList.contains("modal-overlay")) {
            modal1.style.display = "none"
            //modal창 외를 타켓(클릭)시 display 값을 none으로 변환
        }
    })
    window.addEventListener("keyup", e => {
        if (modal1.style.display === "flex" && e.key === "Escape") {
            modal1.style.display = "none"
            //modal display가 flex고 키보드 입력값이 esc일때 modal display를 none으로 변환
        }
    })
    const reader = new FileReader();
    reader.onload = (readerEvent) => {
        document.querySelector("#img_section").setAttribute("src", readerEvent.target.result);
        //파일을 읽는 이벤트가 발생하면 img_section의 src 속성을 readerEvent의 결과물로 대체함
    };
    document.querySelector("#upload_file").addEventListener("change", (changeEvent) => {
        //upload_file 에 이벤트리스너를 장착
        const imgFile = changeEvent.target.files[0];
        reader.readAsDataURL(imgFile);
        //업로드한 이미지의 URL을 reader에 등록
    })
</script>

<script src="https://kit.fontawesome.com/b4faba97d1.js" crossorigin="anonymous"></script>

</body>
</html>
